
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background: url('https://github.com/djsmartsol/DJ-Smart-Solutions/blob/main/image.jpg?raw=true');
    background-repeat: no-repeat;
    background-size: cover;
}

.wrapper {
    max-width: 1200px;
    margin: 0 ;
    padding: 20px;
}

.about {
    background-color: none;
    color: black;
    text-align: center;
    padding: 2px;
    position: relative;
    bottom: 0;
    width: 1500px;
    margin-bottom: 0;

}

.about h2 {
    font-size: 36px;
    margin-bottom: 1px;
}

.about p {
    font-size: 18px;
    line-height: 1.8;
    margin-bottom: 20px;
}

button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #45a049;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 2px;
    position: fixed;
    bottom: 0;
    width: 1500px;
    margin-bottom: 0;
}
